.message-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;

    .no-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        font-size: 20px;
        font-weight: bold;
        color: #A0A0A0;

        .no-data-text {
            margin-top: 10px;
        }
    }
}