.message-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .message-box-wrap {
        display: flex;
        justify-content: center;
        width: 80%;
        list-style: none;

        .message-box-child {
            box-sizing: border-box;
            padding: 5px 15px;
            margin: 0 20px;
            font-size: 14px;
            color: #000;
            cursor: pointer;
        }

        .true {
            font-weight: bold;
            box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.049);
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            color: skyblue;
            background: #fff;
        }
    }
}