.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    user-select: none;
    border-bottom: 1px solid #eee9e9;
    background-color: #fff;

    .header-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -140px;
        width: 80%;
        height: 100%;

        .logo {
            display: flex;
            align-items: center;
            height: 100%;
            width: 200px;

            .logo-text {
                margin-left: 10px;
                font-weight: bold;
                font-size: 20px;
                color: skyblue;
                cursor: pointer;
            }
        }

        .header-nav {
            display: flex;
            align-items: center;
            height: 100%;
            list-style: none;

            .header-li {
                box-sizing: border-box;
                margin: 0 20px;
                padding: 8px 20px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                color: #000;
                cursor: pointer;
            }

            .activation {
                color: #fff;
                background-image: linear-gradient(315deg, #9296c6 0, skyblue 100%);
            }
        }

        .photo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .release-message {
            cursor: pointer;
        }
    }
}